@model Taxi.DataAccess.RegionInfo.Model.Info
@Styles.Render("~/RegionInfo/css")

<div class="region-info-container">
    @if (Model.Traffic.HasError || Model.Weater.HasError)
    {
        if (Model.Traffic.ResultMessage != null)
        {
            <h1>Traffic result: @Model.Traffic.ResultMessage</h1>
        }
        if (Model.Weater.ResultMessage != null)
        {
            <h1>Weater result: @Model.Weater.ResultMessage</h1>
        }
    }
    <div class="logo-container"><img src="~/Content/taxi-logo.png" /></div>

    <div class="region-selector-container">
        <div class="form-group">
            <label for="country">Ваша страна</label>
            @Html.DropDownList("Countries", ViewBag.Countries as List<SelectListItem>, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="country">Ваш город</label>
            <select class="form-control" id="Cities">
                <option value="" disabled selected>Город не выбран</option>
            </select>
        </div>
    </div>

    <div id="region-info-detail">
        @Html.Partial("_RegionInfoDetail", Model)
    </div>
</div>

@Scripts.Render("~/bundles/regionInfo")